<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="flex items-center h-16 mb-6 text-4xl font-semibold text-gray-900 dark:text-white">
      <img class="h-full mr-4 border-none" src="distr-logo.svg" alt="" />
      Distr
    </div>
    <div
      class="w-full bg-white rounded-lg shadow-sm dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Welcome
          @if (form.value.name; as name) {
            {{ name }}!
          } @else {
            {{ email }}!
          }
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="submit()">
          <div>
            <label for="name" class="distr-label mb-2">Full name (optional)</label>
            <input
              type="text"
              formControlName="name"
              autotrim
              autocomplete="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Michael Scott" />
          </div>
          <div>
            <label for="username" class="distr-label mb-2">Your email</label>
            <input
              readonly
              [value]="email"
              type="email"
              id="username"
              class="bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-not-allowed" />
          </div>
          <div>
            <label for="password" class="distr-label mb-2">Password</label>
            <input
              type="password"
              formControlName="password"
              id="password"
              autotrim
              autocomplete="new-password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" />
            @if (form.controls.password.touched && form.controls.password.errors) {
              <span class="text-red-500">Password is required and must have at leat 8 characters</span>
            }
          </div>
          <div>
            <label for="confirm-password" class="distr-label mb-2">Confirm password</label>
            <input
              type="password"
              formControlName="passwordConfirm"
              id="confirm-password"
              autotrim
              autocomplete="new-password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" />
            @if (form.controls.passwordConfirm.touched && form.errors?.['passwordMismatch']) {
              <span class="text-red-500">Password mismatch</span>
            }
          </div>
          @if (errorMessage) {
            <div class="text-sm text-red-500">{{ errorMessage }}</div>
          }
          <button
            type="submit"
            [disabled]="submitted"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Get started
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
